#btnScan {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 7%;
}

#btnGetPlan{
  position: absolute;
  left: 35%;
  top: 80%;
  width: 40%;
  height: 7%;
}

#btnScanNode{
  position: absolute;
  left: 25%;
  top: 80%;
  width: 50%;
  height: 7%;
}


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
  background: linear-gradient(to bottom right, orange, blue);
}

#testRotate {
    position:relative;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    margin: 30px;
    background-image: url(../img/Direction-icon.png);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
